@import url(./set.css);

body {
    background-color: var(--couleur_fond);
    display: flex;
    height: 100vh;

}
.game {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

h1{
    position: relative;
    top: 3%;
    font-size: 3em;
}

h3{
    position: relative;
    top: 41%;
    left: -5%;
    font-size: 1.5em;
}

.scoreboard {
    display: flex;
    justify-content: space-around;
    margin: 30px -43px;
    position: relative;
    top: 7%;
    font-size: 1.5em;
}

.player-score{
    left: -5%;
    position: relative;
}

.computer-score{
    left: 5%;
    position: relative;
}

.choices{
    top: 45%;
    position: relative;
    left: -5%;
}

.choice {
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #5c74ff;
    top: 50%;
    position: relative;
}

.choice:hover {
    background-color: #312dff;
}

.result {
    margin: 30px 0;
    position: relative;
    top: 45%;
    left: -6.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

#reset {
    padding: 10px 20px;
    margin-top: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color:red;
    transition: 0.3s;
}

#reset:hover {
    background-color: var(--couleur_principale);
    border: black 2px;
    color: var(--couleur_texte_principal);
    margin-top: 10px;
    color: red;
    box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}

#word {
    color: black;
    font-size: 2.5em;
    position: relative;
    top: 20%;
    left: -5%;
}