@import url(./set.css);

html{
    margin:0;
    background-color: var(--couleur_fond);
    color:black;
    font-family: 'Montserrat', sans-serif;
}

#snake_jeu{
    background-color: var(--couleur_principale);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 720px;
    border-radius: 20px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

#case_container{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid black; */
}

.row {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}
  
.case {
    transition: transform 0.1s ease-in-out;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff;
}

.snake {
    transition: transform 0.1s ease-in-out;
    background-color: green;
    border: none 0px;
}

h1 {
    font-size: 3em;
    color: black;
    text-align: center;
    top: 30px;
    position: relative;
}

#popup {
    position: fixed;
    width: 300px;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
    padding: 20px;
    backdrop-filter: blur(7px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

#popup p{
    text-align: center;
    margin: center;
    position: relative;
    top: 20px;
    margin-top: 30px;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

#popup button {
    padding: 10px;
    top: 50px;
    left: 25%;
    margin: center;
    position: relative;
    border-radius: 10px;
    background-color: red;
    width: 50%;
    height: 15%;
    color: white;
    border: black 2px;
    transition: 0.3s;
}

#popup button:hover {
    background-color: var(--couleur_principale);
    border: black 2px;
    color: var(--couleur_texte_principal);
    margin-top: -5px;
    color: red;
    box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}

.apple{
    background-color: red;
    border-radius: 50%;
}

#aff p{
    font-size: 2em;
    color: black;
    text-align: center;
    top: 830px;
    position: relative;
}
